In [1]:
# Import packages for use
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
import time
import psutil
import cudf

# Connect to MySQL database
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="0861137MySQL!",
  database="project1"
)

In [2]:
#Confirm connection has been established
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f008ff8a410>

In [3]:
### HEAVY EXTRACTION ###
##################################################################################################################
# Join the order_line and item tables and capture CPU, RAM and elapsed time to perform operations

#light extraction performance metrics
column_names = ["CPU_utilization", "RAM_utilization", "elapsed_time"]
heavyExtractionPrfm = pd.DataFrame(columns = column_names)

#base metrics
print("\nBase CPU utilization: ", psutil.cpu_percent())
print("\nBase RAM utilization: ", psutil.virtual_memory().percent)

#Run 30 iterations to collect a df of performance metrics
for sampleNo in range(30):
    #script to pull data
    HEsql = "select * from order_header inner join order_line on order_header.ponum = order_line.ponum inner join item on order_line.orderedItem = item.orderedItem;;"

    #Initiate timer for query
    start = time.perf_counter()
    print("Working on sample number: ", sampleNo+1,"\n")
    
    #insert data into dataFrame
    fullJoin = pd.read_sql(sql=HEsql, con=mydb)
    
    #Stop timer  
    stop = time.perf_counter()
    
    #load df with performance metrics    
    heavyExtractionPrfm = heavyExtractionPrfm.append(pd.DataFrame({'CPU_utilization': psutil.cpu_percent(),
                                                                   'RAM_utilization':  psutil.virtual_memory().percent,
                                                                   'elapsed_time': stop - start}, 
                                                                   index=[1]), ignore_index=True)
    time.sleep(5)
    
print("Data frame loading complete.")

Base CPU utilization:  0.3

Base RAM utilization:  14.9
Working on sample number:  1

Working on sample number:  2

Working on sample number:  3

Working on sample number:  4

Working on sample number:  5

Working on sample number:  6

Working on sample number:  7

Working on sample number:  8

Working on sample number:  9

Working on sample number:  10

Working on sample number:  11

Working on sample number:  12

Working on sample number:  13

Working on sample number:  14

Working on sample number:  15

Working on sample number:  16

Working on sample number:  17

Working on sample number:  18

Working on sample number:  19

Working on sample number:  20

Working on sample number:  21

Working on sample number:  22

Working on sample number:  23

Working on sample number:  24

Working on sample number:  25

Working on sample number:  26

Working on sample number:  27

Working on sample number:  28

Working on sample number:  29

Working on sample number:  30

Data frame loading complete.

In [4]:
heavyExtractionPrfm
#orderItemJoin.head(10)

    CPU_utilization  RAM_utilization  elapsed_time
0               6.5             15.5      1.017522
1               1.7             15.8      1.040488
2               1.4             15.8      1.026247
3               1.2             15.8      1.069993
4               1.2             15.7      1.057234
5               1.1             15.7      1.070262
6               1.2             15.7      1.038391
7               1.1             15.8      1.056845
8               1.1             15.8      1.081731
9               1.1             15.8      1.043991
10              1.2             15.6      1.074863
11              1.2             15.7      1.087574
12              1.2             15.7      1.082885
13              1.1             15.8      1.037933
14              1.1             15.7      1.042954
15              1.1             15.7      1.059048
16              1.1             15.7      1.048831
17              1.2             15.7      1.072141
18              1.2             15.7      1.040689
19              1.1             15.7      1.075342
20              1.1             15.7      1.067853
21              1.1             15.7      1.085401
22              1.1             15.7      1.073605
23              1.1             15.8      1.067403
24              1.0             15.8      1.031091
25              1.2             15.8      1.058327
26              1.3             15.8      1.063792
27              1.1             15.8      1.061711
28              1.1             15.8      1.064306
29              1.4             15.8      1.080644

In [5]:
#Export DF to csv
heavyExtractionPrfm.to_csv (r'/home/jeff/Desktop/heavyExtractionPrfm.csv', index = False, header=True)

In [6]:
### HEAVY TRANSFORMATION ###
##################################################################################################################
# Preform heavy transformation workload.  Item, order_line, and orderHeader will be joined.  All item descriptions 
# with "Blue" in them are changed to "Navy."  Any clothing items with "Tee" will be modified to "CottonTee"
# Additionallay a computer column called extedned_price will be created by multiplying eaches and item_price.

heavyTrans = fullJoin
column_names = ["CPU_utilization", "RAM_utilization", "elapsed_time"]
heavyPrfm = pd.DataFrame(columns = column_names)

print("\nBase CPU utilization: ", psutil.cpu_percent())
print("\nBase RAM utilization: ", psutil.virtual_memory().percent)


#Run 30 iterations to collect transformation df of performance metrics
for sampleNoTransform in range(30):
    
    # Start Timer and progress tracker
    start = time.perf_counter()
    print("Working on sample number: ", sampleNoTransform+1,"\n")
    
    #Working Code
    heavyTrans.item_desc = heavyTrans.item_desc.str.replace('Blue', 'Navy', regex=True)
    heavyTrans.item_desc = heavyTrans.item_desc.str.replace('Tee', 'CottonTee', regex=True)
    heavyTrans['extended_price'] = heavyTrans.eaches_qty * heavyTrans.selling_price
    
    #Stop timer  
    stop = time.perf_counter()
    
    
    heavyPrfm = heavyPrfm.append(pd.DataFrame({'CPU_utilization': psutil.cpu_percent(),
                                               'RAM_utilization':  psutil.virtual_memory().percent,
                                               'elapsed_time':stop - start},
                                              index=[1]), ignore_index=True)

    time.sleep(5)
print("Pandas performance metrics captured.")

Base CPU utilization:  0.7

Base RAM utilization:  16.1
Working on sample number:  1

Working on sample number:  2

Working on sample number:  3

Working on sample number:  4

Working on sample number:  5

Working on sample number:  6

Working on sample number:  7

Working on sample number:  8

Working on sample number:  9

Working on sample number:  10

Working on sample number:  11

Working on sample number:  12

Working on sample number:  13

Working on sample number:  14

Working on sample number:  15

Working on sample number:  16

Working on sample number:  17

Working on sample number:  18

Working on sample number:  19

Working on sample number:  20

Working on sample number:  21

Working on sample number:  22

Working on sample number:  23

Working on sample number:  24

Working on sample number:  25

Working on sample number:  26

Working on sample number:  27

Working on sample number:  28

Working on sample number:  29

Working on sample number:  30

Pandas performance metrics captured.

In [8]:
#Export pandas performance to csv
heavyPrfm.to_csv (r'/home/jeff/Desktop/heavyPrfm.csv', index = False, header=True)

In [10]:
### HEAVY cuDF TRANSFORMATION ###
##################################################################################################################
# Preform heavy transformation workload.  Item, order_line, and orderHeader will be joined.  All item descriptions 
# with "Blue" in them are changed to "Navy."  Any clothing items with "Tee" will be modified to "CottonTee"
# Additionallay a computer column called extedned_price will be created by multiplying eaches and item_price.

heavyTrans = fullJoin
column_names = ["CPU_utilization", "RAM_utilization", "elapsed_time"]
heavyPrfmCU = pd.DataFrame(columns = column_names)

## Transform pandas df to cuDF
heavyTransCU = cudf.DataFrame.from_pandas(heavyTrans)

print("\nBase CPU utilization: ", psutil.cpu_percent())
print("\nBase RAM utilization: ", psutil.virtual_memory().percent)

#Run 30 iterations to collect transformation df of performance metrics
for sampleNoTransform in range(30):
    
    # Start Timer and progress tracker
    start = time.perf_counter()
    print("Working on sample number: ", sampleNoTransform+1,"\n")
    
    #Working Code
    heavyTransCU.item_desc = heavyTransCU.item_desc.str.replace('Blue', 'Navy', regex=True)
    heavyTransCU.item_desc = heavyTransCU.item_desc.str.replace('Tee', 'CottonTee', regex=True)
    heavyTransCU['extended_price'] = heavyTransCU.eaches_qty * heavyTransCU.selling_price
    
    #Stop timer  
    stop = time.perf_counter()
    
    
    heavyPrfmCU = heavyPrfmCU.append(pd.DataFrame({'CPU_utilization': psutil.cpu_percent(),
                                                   'RAM_utilization':  psutil.virtual_memory().percent,
                                                   'elapsed_time':stop - start},
                                                  index=[1]), ignore_index=True)

    time.sleep(5)
print("Data frame loading complete.")

/home/jeff/anaconda3/lib/python3.7/site-packages/cudf/dataframe/columnops.py:389: UserWarning: Date32 values are not yet supported so this will be typecast to a Date64 value
  "be typecast to a Date64 value", UserWarning)

Base CPU utilization:  0.7

Base RAM utilization:  16.9
Working on sample number:  1

Working on sample number:  2

Working on sample number:  3

Working on sample number:  4

Working on sample number:  5

Working on sample number:  6

Working on sample number:  7

Working on sample number:  8

Working on sample number:  9

Working on sample number:  10

Working on sample number:  11

Working on sample number:  12

Working on sample number:  13

Working on sample number:  14

Working on sample number:  15

Working on sample number:  16

Working on sample number:  17

Working on sample number:  18

Working on sample number:  19

Working on sample number:  20

Working on sample number:  21

Working on sample number:  22

Working on sample number:  23

Working on sample number:  24

Working on sample number:  25

Working on sample number:  26

Working on sample number:  27

Working on sample number:  28

Working on sample number:  29

Working on sample number:  30

Data frame loading complete.

In [11]:
#Export pandas performance to csv
heavyPrfmCU.to_csv (r'/home/jeff/Desktop/heavyPrfmCU.csv', index = False, header=True)

In [ ]:
# Take a look at the transformed DF
heavyPrfm
heavyPrfm = pd.DataFrame(heavyPrfm)

In [12]:
# Remove duplicate columns
heavyTrans = heavyTrans.loc[:,~heavyTrans.columns.duplicated()]
heavyTrans

,POnum,site_num,request_date,Line,order,eaches_qty,orderedItem,item_desc,selling_price,extended_price
0,840175,822,2019-07-14,334,436586,12,023401P0,RedDressP0,87.87,1054.44
1,840055,624,2019-07-13,981,436581,8,023401P0,RedDressP0,87.87,702.96
2,840040,619,2019-07-13,1080,436577,16,023401P0,RedDressP0,87.87,1405.92
3,840046,623,2019-07-13,1237,436573,4,023401P0,RedDressP0,87.87,351.48
4,840042,610,2019-07-13,1279,436572,4,023401P0,RedDressP0,87.87,351.48
...,...,...,...,...,...,...,...,...,...,...
224276,861437,226,2019-12-05,208567,445283,9,024610P00,TanCottonCottonCottonCottonCottonCottonCottonC...,16.22,145.98
224277,861211,609,2019-12-04,210197,445190,9,024610P00,TanCottonCottonCottonCottonCottonCottonCottonC...,16.22,145.98
224278,864274,827,2019-12-26,215349,446352,9,024610P00,TanCottonCottonCottonCottonCottonCottonCottonC...,16.22,145.98
224279,863708,1805,2019-12-20,218949,446113,3,024610P00,TanCottonCottonCottonCottonCottonCottonCottonC...,16.22,48.66
224280,862972,627,2019-12-17,223692,445912,9,024610P00,TanCottonCottonCottonCottonCottonCottonCottonC...,16.22,145.98

In [13]:
### HEAVY LOADING ###
##################################################################################################################
#Terminate connection from Extraction database, establish connection with Load database
mydb.close()

#Connect to datalake
from sqlalchemy import create_engine
dl3 = create_engine('mysql+mysqlconnector://root:0861137MySQL!@127.0.0.1/datalake', echo=False)

In [14]:
#Confirm connection
print(dl3)

Engine(mysql+mysqlconnector://root:***@127.0.0.1/datalake)

In [18]:
# Write dataframe to datalake

#Create df to collect performance metrics
heavyLoadPrfm = pd.DataFrame(columns = column_names)
print("\nBase CPU utilization: ", psutil.cpu_percent())
print("\nBase RAM utilization: ", psutil.virtual_memory().percent)

#Run 30 iterations to collect loading performance metrics
for sampleNoLoad in range(30):

    # Start Timer and progress tracker
    start = time.perf_counter()
    print("Loading medium load data into datalake. Sample num: ", sampleNoLoad+1, "\n")
    
    #Working Code
    heavyTrans.to_sql('heavyTransformation', con=dl3, if_exists='replace',index=False,chunksize=200)
          
    #Stop timer  
    stop = time.perf_counter()
    
    heavyLoadPrfm = heavyLoadPrfm.append(pd.DataFrame({'CPU_utilization': psutil.cpu_percent(),
                                                       'RAM_utilization':  psutil.virtual_memory().percent,
                                                       'elapsed_time':stop - start},
                                                        index=[1]), ignore_index=True)
    time.sleep(5)

print("Heavy loading complete.")

Base CPU utilization:  0.3

Base RAM utilization:  38.8
Loading medium load data into datalake. Sample num:  1

Loading medium load data into datalake. Sample num:  2

Loading medium load data into datalake. Sample num:  3

Loading medium load data into datalake. Sample num:  4

Loading medium load data into datalake. Sample num:  5

Loading medium load data into datalake. Sample num:  6

Loading medium load data into datalake. Sample num:  7

Loading medium load data into datalake. Sample num:  8

Loading medium load data into datalake. Sample num:  9

Loading medium load data into datalake. Sample num:  10

Loading medium load data into datalake. Sample num:  11

Loading medium load data into datalake. Sample num:  12

Loading medium load data into datalake. Sample num:  13

Loading medium load data into datalake. Sample num:  14

Loading medium load data into datalake. Sample num:  15

Loading medium load data into datalake. Sample num:  16

Loading medium load data into datalake. Sample num:  17

Loading medium load data into datalake. Sample num:  18

Loading medium load data into datalake. Sample num:  19

Loading medium load data into datalake. Sample num:  20

Loading medium load data into datalake. Sample num:  21

Loading medium load data into datalake. Sample num:  22

Loading medium load data into datalake. Sample num:  23

Loading medium load data into datalake. Sample num:  24

Loading medium load data into datalake. Sample num:  25

Loading medium load data into datalake. Sample num:  26

Loading medium load data into datalake. Sample num:  27

Loading medium load data into datalake. Sample num:  28

Loading medium load data into datalake. Sample num:  29

Loading medium load data into datalake. Sample num:  30

Heavy loading complete.

In [19]:
# Export Heavy Load Performance to local
heavyLoadPrfm.to_csv (r'/home/jeff/heavyLoadPrfm.csv', index = False, header=True)

In [17]:
heavyLoadPrfm

    CPU_utilization  RAM_utilization  elapsed_time
0               4.5             53.5      6.774908
1               2.8             54.3      7.704387
2               4.4             17.7      7.922732
3               3.0             18.2      7.750691
4               2.6             19.0      7.778881
5               2.7             19.8      7.763482
6               2.7             20.6      7.799610
7               2.7             21.4      7.981339
8               2.7             22.2      7.359783
9               2.7             22.9      7.701525
10              2.6             23.7      7.546751
11              2.6             24.5      7.814239
12              2.7             25.3      7.853844
13              2.7             26.1      7.856893
14              2.6             26.9      7.761327
15              2.7             27.6      7.808289
16              2.7             28.4      7.836816
17              2.7             29.2      7.816179
18              2.7             30.0      7.895490
19              2.7             30.8      7.793889
20              2.7             31.6      7.897753
21              2.6             32.3      7.201206
22              2.7             33.1      7.946518
23              2.7             33.9      7.994833
24              2.7             34.7      8.040489
25              2.7             35.5      7.920208
26              2.6             36.3      7.398631
27              2.7             37.1      7.893774
28              2.5             37.9      6.428724
29              2.7             38.6      7.937256